.footer {
    .section-description {
        margin-top: 40px;
        font-weight: 400;
        color: $black-color;
    }
    .copyright {
        margin-top: 40px;
        font-weight: 400;
        font-size: 14px;
        color: $black-color;
    }
    .footer-title {
        font-size: $body_normal_size;
        font-weight: bold;
        color: $black-color;
        margin-bottom: 18px;
    }
    .footer-link {
        font-weight: 400;
        font-size: $body_normal_size;
        display: block;
        color: $black-color
    }
    .socials {
        .social-link {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary_color;
            color: $white-color;
            border-radius: 50px;
            transition: 0.8s;
            &:hover {
                background-color: $white-color;
                color: $primary_color;
                border: 1px solid $primary_color;
            }
        }
    }
}