$black_color: #151515;
$dark_color: #3C3C3C;
$darkgray_color: #8a8a8a;
$lightgray_color: #D0D0D0;
$white_color: #FFFFFF;
$secondwhite_color:#F1F3FF;
$primary_color: #0D28A6;
$limegreen_color: #5CB85F;
$bg_color: #F7F0EA;
$h1_size: 70px;
$h2_size: 50px;
$h3_size: 36px;
$h4_size: 30px;
$h5_size: 20px;
$h6_size: 18px;
$body_normal_size: 16px;
$body_small_size: 14px;
$body_smaller_size: 12px;