.navheader {
    background-color: $secondwhite-color;
}

.header {
    background-color: $secondwhite-color;
    position: relative;
    padding-top: 50px;
    .header-title {
        font-size: $h3_size;
        font-weight: bold;
        color: $black_color;
        margin-bottom: 10px;
    }
    .header-description {
        color: $black_color;
        margin-bottom: 30px;
    }
    .header-image {
        width: 800px;
        top: 0;
        right: 0;
        position: absolute;
    }
    @media screen and (max-width: 768px) {
        .header-title {
            font-size: $h3_size;
            margin-top: -50px;
        }
    }
}

.content {
    margin-top: 50px;
    .content-title {
        margin-top: 100px;
        font-size: $h3_size;
        font-weight: bold;
        color: $black_color;
    }
    .content-description {
        color: $black_color;
        margin-bottom: 16px;
        margin-top: 24px;
        font-size: $h6_size;
        font-weight: bold;
    }
    .content-image {
        width: 80%;
        justify-content: center;
    }
    .content-icon {
        width: 24px;
    }
    .content-point {
        font-size: $body_normal_size;
        font-weight: bold;
    }
}

.why {
    margin-top: 100px;
    .why-title {
        margin-top: -10px;
        font-size: $h4_size;
        font-weight: bold;
        color: $black_color;
    }
    .why-description {
        color: $black_color;
        margin-bottom: 30px;
        font-size: $h5_size;
        font-weight: bold;
    }
}

.testimonial {
    margin-top: 100px;
    .swiper {
        margin-top: 50px;
        .swiper-slide {
            .card {
                background-color: black;
            }
        }
    }
}

.sewa {
    .header {
        .header-title {
            color: $white_color;
            font-size: $h3_size;
            font-weight: 700;
        }
        .header-description {
            color: $white_color;
            font-size: $body_normal_size;
        }
    }
}

.search {
    padding: 36px;
    background: $white_color;
    border-radius: 8px;
    margin-top: -50px;
    position: relative;
    border-bottom: 3px solid #CCCCCC;
    border-left: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    .input-select {
        height: 32px;
        width: 210px;
        font-size: $body_smaller_size;
        border: 2px solid #CCCCCC;
        color: #CCCCCC;
        padding: 5px 10px;
    }
    .inline {
        width: 100px;
        border: 1px solid black;
        transform: rotate(90deg);
    }
    .search-title {
        font-size: $body_normal_size;
        font-weight: 700;
        color: $black_color;
        span {
            color: $black_color;
        }
        @media screen and (max-width: 768px) {
            font-size: $h3_size;
        }
    }
    .search-subtitle {
        color: $black_color;
    }
    @media screen and (max-width: 768px) {
        .search-items {
            flex-direction: column;
            gap: 10px !important;
            .inline {
                width: 70%;
                transform: rotate(0deg);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 150px;
        margin-bottom: 100px;
        .header-image {
            top: 400px;
            right: 0;
            position: absolute;
        }
        @media screen and (max-width: 768px) {
            .header-title {
                font-size: $h3_size;
                margin-top: -50px;
            }
        }
    }
    .content {
        margin-top: 50px;
    }
    .why {
        margin-top: 50px;
        .why-title {}
    }
    .testimonial {
        margin-top: 50px;
    }
    .why {
        .why-title {
            text-align: center;
        }
    }
    .sewa {
        margin-top: -60px;
    }
    .faq {
        margin-top: -150px;
    }
    .sewa {
        .header {
            .header-title {
                padding-top: 60px;
            }
        }
    }
    .footer {
        margin-top: -80px;
    }
    .search {
        border-top: 2px solid #CCCCCC;
        margin-top: 50px;
        margin-bottom: 60px;
    }
}