.navheader {
    background-color: $secondwhite-color;
}

.header {
    background-color: $secondwhite-color;
    position: relative;
    padding-top: 50px;
    .header-title {
        font-size: $h3_size;
        font-weight: bold;
        color: $black_color;
        margin-bottom: 10px;
    }
    .header-description {
        color: $black_color;
        margin-bottom: 30px;
    }
    .header-image {
        width: 800px;
        top: 0;
        right: 0;
        position: absolute;
    }
    @media screen and (max-width: 768px) {
        .header-title {
            font-size: $h3_size;
            margin-top: -50px;
        }
    }
}

.content {
    margin-top: 50px;
    .content-title {
        margin-top: 100px;
        font-size: $h3_size;
        font-weight: bold;
        color: $black_color;
    }
    .content-description {
        color: $black_color;
        margin-bottom: 16px;
        margin-top: 24px;
        font-size: $h6_size;
        font-weight: bold;
    }
    .content-image {
        width: 80%;
        justify-content: center;
    }
    .content-icon {
        width: 24px;
    }
    .content-point {
        font-size: $body_normal_size;
        font-weight: bold;
    }
}

.why {
    margin-top: 100px;
    .why-title {
        margin-top: -10px;
        font-size: $h4_size;
        font-weight: bold;
        color: $black_color;
    }
    .why-description {
        color: $black_color;
        margin-bottom: 30px;
        font-size: $h5_size;
        font-weight: bold;
    }
}

.testimonial {
    margin-top: 100px;
    .swiper {
        margin-top: 50px;
        .swiper-slide {
            .card {
                background-color: black;
            }
        }
    }
}

.sewa {
    .header {
        .header-title {
            color: $white_color;
            font-size: $h3_size;
            font-weight: 700;
        }
        .header-description {
            color: $white_color;
            font-size: $body_normal_size;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 150px;
        margin-bottom: 100px;
        .header-image {
            top: 400px;
            right: 0;
            position: absolute;
        }
        @media screen and (max-width: 768px) {
            .header-title {
                font-size: $h3_size;
                margin-top: -50px;
            }
        }
    }
    .content {
        margin-top: 50px;
    }
    .why {
        margin-top: 50px;
        .why-title {}
    }
    .testimonial {
        margin-top: 50px;
    }
    .why {
        .why-title {
            text-align: center;
        }
    }
    .sewa {
        .header {
            .header-title {
                padding-top: 60px;
            }
        }
    }
    .footer {
        margin-top: -80px;
    }
}